html, body, #root{
    height: 100%;
    margin: 0;
    padding: 0;   
}

.signInPage{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0%;
    margin: 0%;
    background-color: rgba(0, 68, 255, 0.336);
}

.mainTitle{
    text-align: center;
}

.container{
    text-align: center;
    align-content: center;
    background-color: rgb(255, 134, 134);
    margin: 10px;
    padding: 10px;
}

.lrTitle{
    margin-top: 0%;
    color: white;
}

.lrLabel{
    margin: 5px;
    font-size: 20px;
}

.lrIn{
    margin: 5px;
    font-size: 20px;
}

.logButton{
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    background-color: red;
    color: white;
    border: 0;
    border-radius: 5px;
}

.logButton a{
    text-decoration: none;
    color: white;
}

.logButton:hover{
    border: 2px solid black;
}

.regButton{
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    background-color: white;
    color: red;
    border: 0;
    border-radius: 5px;
}

.regButton a{
    text-decoration: none;
    color: red;
}

.regButton:hover{
    border: 2px solid black;
}

.home{
    height: 100vh;
    padding: 0%;
    margin: 0%;
    background-color: rgba(0, 68, 255, 0.336);
}

.home h1{
    margin-top: 0%;
}

.header{
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 68, 255, 0.336);
    border: 1px solid black;
}

.profile{
    border: 2px solid black;
    padding: 5px;
    margin: 10px;
}

.attendance{
    background-color: rgb(255, 134, 134);
    border: 2px solid black;
    padding: 5px;
    margin: 10px;
}

.home h3{
    margin-top: 2px;
}

.leave{
    background-color: rgb(255, 134, 134);
    border: 2px solid black;
    padding: 5px;
    margin: 10px;
}

.applyButton{
    font-size: 18px;
    padding: 10px;
    margin: 10px;
    background-color: red;
    color: white;
    border: 0;
    border-radius: 5px;   
}